# Track only selected config folders

# Ignore everything at repo root by default
/*

# Keep this .gitignore tracked
!/.gitignore

# Allow these folders and their contents
!/aerospace/
!/aerospace/**
!/nvim-tc/
!/nvim-tc/**

# Common noise to ignore inside allowed folders
.DS_Store
Thumbs.db
*.swp
*.swo
*.tmp
*.log
